@model IEnumerable<Contrataciones.ModelsView.UsuarioVista>
@{
    ViewBag.Title = "Administrar permisos";
}
<input type="hidden" id="RolID" value="@ViewContext.RouteData.Values["id"]" />

<h2>Administrar Permisos</h2>

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>    
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>

            <td>
                @Html.DisplayFor(model => item.Email)
            </td>
            <td>
                @Html.ActionLink("Roles", "Roles", new { userID = item.UserID }) 
            </td>
        </tr>
    }
</table>