@model IEnumerable<Contrataciones.ModelsView.UsuarioVista>
@{
    ViewBag.Title = "Administrar permisos";
}


<input type="hidden" id="RolID" value="@ViewContext.RouteData.Values["idRol"]" />


<h2>Administrar Permisos</h2>
<br />
<h4>Rol Selecionado : @(ViewContext.RouteData.Values["nombreRol"])</h4>
<br />
<table id="tbAsignarUsuarios" class="table">

    <tr>
        <th>
            Selección
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" id="chkAsignarUsuario" checked="@item.Asignado" value="@item.UserID" />
            </td>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>

            <td>
                @Html.DisplayFor(model => item.Email)
            </td>
            <td>
                @Html.ActionLink("Roles", "Roles", new { userID = item.UserID })
            </td>
        </tr>
    }
</table>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/ScriptUsuario")  