@model IEnumerable<Contrataciones.ModelsView.RolesVista>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <thead class="thead-default">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*para este link se utiliza la ruta configurada en el archivo routes con el nombre de AsignarUsuario*@
                @Html.RouteLink("Asignar Usuarios", "AsignarUsuario", new { idRol = item.RoleID, nombreRol = item.Name }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Denegar Permiso", "Index", "DenegarPermisos", new { id = item.RoleID },  new { @class = "ui-btn-right" }) |              

            </td>
        </tr>
    }

</table>

