@model IEnumerable<Contrataciones.Models.Menus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Controlador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordenamiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Controlador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ordenamiento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MenuID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MenuID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MenuID })
        </td>
    </tr>
}

</table>
